li:hover {
  background-color: lightblue;
  transition: 2s;
}

h1 {
  animation: fadeIn 4s normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigation .li_font {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  @media (max-width: 530px) {
    font-size: 1rem;
  }
}

.logo {
  width: 100px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: 50px;
  border-radius: 50%;
  @media (max-width: 530px) {
    width: 40px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 71px;
    margin-inline: 50px;
    border-radius: 50%;
  }
}

.home p {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  color: black;
  font-size: 10rem;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 10rem;
  animation-name: panim;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: both;
  @media (max-width: 530px) {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    color: black;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10rem;
    animation-name: panim;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: both;
    letter-spacing: 20px;
  }
}

@keyframes panim {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}

footer {
  text-align: start;
  padding: 10px;
  padding-bottom: 30px;
  letter-spacing: normal;
  background-color: rgb(180, 180, 180);
  margin-top: 3%;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: white;
  }
}

footer img {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.icons {
  position: absolute;
  margin-left: 85%;
  margin-top: 20px;
  img {
    width: 70px;
    height: 70px;
  }
}

.icons {
  @media (max-width: 530px) {
    position: absolute;
    margin-left: 58%;
    margin-top: 20px;
    font-size: 12px;
    img {
      margin-top: 30px;
      margin-left: 10%;
      width: 30px;
      height: 30px;
    }
  }
}

.body {
  background-color: black;
}

.about {
  padding-top: 10px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

._title {
  padding-top: 10px;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: bold;
}

.languageSwitch {
  margin-left: 90%;
  position: sticky;
  top: 0%;
  @media (max-width: 530px) {
    margin-left: 60%;
    position: sticky;
    top: 0%;
  }
}
.home_text ul {
  list-style-type: circle;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home_text li:hover {
  background-color: transparent;
}

.flex {
  display: flex;
  @media (max-width: 530px) {
    display: block;
  }
}

.column {
  flex-basis: 50%;
  padding: 5px;
}
.column p {
  @media (max-width: 530px) {
    font-size: 12px;
    padding: 0px;
    margin-left: 0px;
  }
}
